.wrapper {
    position: relative;
}

.box {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &__wrapper {
        position: relative;
        transition: width .1s ease-in-out, height .1s ease-in-out;
    }
    &__shadow {
        z-index: 10;
        position: absolute;
        transform: perspective(1000px) rotateX(45deg);
        left: 3px;
        bottom: -4px;
        right: 3px;
        height: 30px;
        box-shadow: 0 0 100px rgba(0,0,0,.5),0 0 25px rgba(0,0,0,.8);
    }
    &__volume {
        box-sizing: border-box;
        z-index: 50;
        position: absolute;
        top: -4px;
        left: 0;
        width: 100%;
        border: {
            width: 0;
            style: solid;
            bottom: {
                width: 4px;
            }
            left: {
                width: 10px;
                color: transparent;
            }
            right: {
                width: 10px;
                color: transparent;
            }
        }
    }
}

$axis-width: 2px;
$axis-color: #aaa;

.axis {
    $axis: &;
    position: absolute;
    border: 0 dashed $axis-color;
    &::after {
        position: absolute;
        content: '';
        display: block;
    }
    &--y {
        top: 0;
        bottom: 0;
        left: 0;
        border-right-width: $axis-width;
        &::after {
            top: -5px;
            left: -2px;
            border: {
                width: 0;
                style: solid;
                bottom: {
                    width: 8px;
                    color: $axis-color;
                }
                left: {
                    width: 3px;
                    color: transparent;
                }
                right: {
                    width: 3px;
                    color: transparent;
                }

            };
        }
        #{$axis}__fieldWrapper {
            top: -55px;
            left: -20px;
        }
    }
    &--x {
        bottom: 0;
        left: 0;
        right: 0;
        border-top-width: $axis-width;
        &::after {
            right: -5px;
            bottom: -2px;
            border: {
                width: 0;
                style: solid;
                left: {
                    width: 8px;
                    color: $axis-color;
                }
                top: {
                    width: 3px;
                    color: transparent;
                }
                bottom: {
                    width: 3px;
                    color: transparent;
                }

            };
        }
        #{$axis}__fieldWrapper {
            right: 50%;
            bottom: -30px;
            transform: translateX(50%);
        }
    }
    &__fieldWrapper {
        position: absolute;
        text-align: center;
    }
    &__field {
        width: 40px;
        margin-right: 5px;
    }
    &__label {
        font-weight: 600;
    }
}