@font-face {
    font-family: 'Agency';
    font-style: normal;
    font-weight: normal;
    src:    url('../fonts/AgencyFB-Reg/AgencyFB-Reg.eot');
    src:    url('../fonts/AgencyFB-Reg/AgencyFB-Reg.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AgencyFB-Reg/AgencyFB-Reg.woff') format('woff'),
    url('../fonts/AgencyFB-Reg/AgencyFB-Reg.ttf')  format('truetype'),
    url('../fonts/AgencyFB-Reg/AgencyFB-Reg.svg#AgencyFB-Reg') format('svg');
}

@font-face {
    font-family: 'Agency';
    font-style: normal;
    font-weight: bold;
    src:    url('../fonts/AgencyFB-Bold/AgencyFB-Bold.eot');
    src:    url('../fonts/AgencyFB-Bold/AgencyFB-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AgencyFB-Bold/AgencyFB-Bold.woff') format('woff'),
    url('../fonts/AgencyFB-Bold/AgencyFB-Bold.ttf')  format('truetype'),
    url('../fonts/AgencyFB-Bold/AgencyFB-Bold.svg#AgencyFB-Bold') format('svg');
}

@font-face {
    font-family: 'ArialMT';
    font-style: normal;
    font-weight: normal;
    src:    url('../fonts/ArialMT/ArialMT.eot');
    src:    url('../fonts/ArialMT/ArialMT.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ArialMT/ArialMT.woff') format('woff'),
    url('../fonts/ArialMT/ArialMT.ttf')  format('truetype'),
    url('../fonts/ArialMT/ArialMT.svg#ArialMT') format('svg');
}

@font-face {
    font-family: 'ArialMT';
    font-style: italic;
    font-weight: normal;
    src:    url('../fonts/Arial-ItalicMT/Arial-ItalicMT.eot');
    src:    url('../fonts/Arial-ItalicMT/Arial-ItalicMT.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Arial-ItalicMT/Arial-ItalicMT.woff') format('woff'),
    url('../fonts/Arial-ItalicMT/Arial-ItalicMT.ttf')  format('truetype'),
    url('../fonts/Arial-ItalicMT/Arial-ItalicMT.svg#Arial-ItalicMT') format('svg');
}

@font-face {
    font-family: 'ArialMT';
    font-style: normal;
    font-weight: bold;
    src:    url('../fonts/Arial-BoldMT/Arial-BoldMT.eot');
    src:    url('../fonts/Arial-BoldMT/Arial-BoldMT.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Arial-BoldMT/Arial-BoldMT.woff') format('woff'),
    url('../fonts/Arial-BoldMT/Arial-BoldMT.ttf')  format('truetype'),
    url('../fonts/Arial-BoldMT/Arial-BoldMT.svg#Arial-BoldMT') format('svg');
}

@font-face {
    font-family: 'ArialMT';
    font-style: italic;
    font-weight: bold;
    src:    url('../fonts/Arial-BoldItalicMT/Arial-BoldItalicMT.eot');
    src:    url('../fonts/Arial-BoldItalicMT/Arial-BoldItalicMT.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Arial-BoldItalicMT/Arial-BoldItalicMT.woff') format('woff'),
    url('../fonts/Arial-BoldItalicMT/Arial-BoldItalicMT.ttf')  format('truetype'),
    url('../fonts/Arial-BoldItalicMT/Arial-BoldItalicMT.svg#Arial-BoldItalicMT') format('svg');
}

@font-face {
    font-family: 'ArialNarrow';
    font-style: normal;
    font-weight: normal;
    src:    url('../fonts/ArialNarrow/ArialNarrow.eot');
    src:    url('../fonts/ArialNarrow/ArialNarrow.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ArialNarrow/ArialNarrow.woff') format('woff'),
    url('../fonts/ArialNarrow/ArialNarrow.ttf')  format('truetype'),
    url('../fonts/ArialNarrow/ArialNarrow.svg#ArialNarrow') format('svg');
}

@font-face {
    font-family: 'ArialNarrow';
    font-style: italic;
    font-weight: normal;
    src:    url('../fonts/ArialNarrow-Italic/ArialNarrow-Italic.eot');
    src:    url('../fonts/ArialNarrow-Italic/ArialNarrow-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ArialNarrow-Italic/ArialNarrow-Italic.woff') format('woff'),
    url('../fonts/ArialNarrow-Italic/ArialNarrow-Italic.ttf')  format('truetype'),
    url('../fonts/ArialNarrow-Italic/ArialNarrow-Italic.svg#ArialNarrow-Italic') format('svg');
}

@font-face {
    font-family: 'ArialNarrow';
    font-style: normal;
    font-weight: bold;
    src:    url('../fonts/ArialNarrow-Bold/ArialNarrow-Bold.eot');
    src:    url('../fonts/ArialNarrow-Bold/ArialNarrow-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ArialNarrow-Bold/ArialNarrow-Bold.woff') format('woff'),
    url('../fonts/ArialNarrow-Bold/ArialNarrow-Bold.ttf')  format('truetype'),
    url('../fonts/ArialNarrow-Bold/ArialNarrow-Bold.svg#ArialNarrow-Bold') format('svg');
}

@font-face {
    font-family: 'ArialNarrow';
    font-style: italic;
    font-weight: bold;
    src:    url('../fonts/ArialNarrow-BoldItalic/ArialNarrow-BoldItalic.eot');
    src:    url('../fonts/ArialNarrow-BoldItalic/ArialNarrow-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ArialNarrow-BoldItalic/ArialNarrow-BoldItalic.woff') format('woff'),
    url('../fonts/ArialNarrow-BoldItalic/ArialNarrow-BoldItalic.ttf')  format('truetype'),
    url('../fonts/ArialNarrow-BoldItalic/ArialNarrow-BoldItalic.svg#ArialNarrow-BoldItalic') format('svg');
}

@font-face {
    font-family: 'Arial Black';
    font-style: normal;
    font-weight: normal;
    src:    url('../fonts/Arial-Black/Arial-Black.eot');
    src:    url('../fonts/Arial-Black/Arial-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Arial-Black/Arial-Black.woff') format('woff'),
    url('../fonts/Arial-Black/Arial-Black.ttf')  format('truetype'),
    url('../fonts/Arial-Black/Arial-Black.svg#Arial-Black') format('svg');
}

@font-face {
    font-family: 'Calibri';
    font-style: normal;
    font-weight: normal;
    src:    url('../fonts/Calibri/Calibri.eot');
    src:    url('../fonts/Calibri/Calibri.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Calibri/Calibri.woff') format('woff'),
    url('../fonts/Calibri/Calibri.ttf')  format('truetype'),
    url('../fonts/Calibri/Calibri.svg#Calibri') format('svg');
}

@font-face {
    font-family: 'Calibri';
    font-style: italic;
    font-weight: normal;
    src:    url('../fonts/Calibri-Italic/Calibri-Italic.eot');
    src:    url('../fonts/Calibri-Italic/Calibri-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Calibri-Italic/Calibri-Italic.woff') format('woff'),
    url('../fonts/Calibri-Italic/Calibri-Italic.ttf')  format('truetype'),
    url('../fonts/Calibri-Italic/Calibri-Italic.svg#Calibri-Italic') format('svg');
}

@font-face {
    font-family: 'Calibri';
    font-style: normal;
    font-weight: bold;
    src:    url('../fonts/Calibri-Bold/Calibri-Bold.eot');
    src:    url('../fonts/Calibri-Bold/Calibri-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Calibri-Bold/Calibri-Bold.woff') format('woff'),
    url('../fonts/Calibri-Bold/Calibri-Bold.ttf')  format('truetype'),
    url('../fonts/Calibri-Bold/Calibri-Bold.svg#Calibri-Bold') format('svg');
}

@font-face {
    font-family: 'Calibri';
    font-style: italic;
    font-weight: bold;
    src:    url('../fonts/Calibri-BoldItalic/Calibri-BoldItalic.eot');
    src:    url('../fonts/Calibri-BoldItalic/Calibri-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Calibri-BoldItalic/Calibri-BoldItalic.woff') format('woff'),
    url('../fonts/Calibri-BoldItalic/Calibri-BoldItalic.ttf')  format('truetype'),
    url('../fonts/Calibri-BoldItalic/Calibri-BoldItalic.svg#Calibri-BoldItalic') format('svg');
}

@font-face {
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 300;
    src:    url('../fonts/Calibri-Light/Calibri-Light.eot');
    src:    url('../fonts/Calibri-Light/Calibri-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Calibri-Light/Calibri-Light.woff') format('woff'),
    url('../fonts/Calibri-Light/Calibri-Light.ttf')  format('truetype'),
    url('../fonts/Calibri-Light/Calibri-Light.svg#Calibri-Light') format('svg');
}

@font-face {
    font-family: 'Calibri';
    font-style: italic;
    font-weight: 300;
    src:    url('../fonts/Calibri-LightItalic/Calibri-LightItalic.eot');
    src:    url('../fonts/Calibri-LightItalic/Calibri-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Calibri-LightItalic/Calibri-LightItalic.woff') format('woff'),
    url('../fonts/Calibri-LightItalic/Calibri-LightItalic.ttf')  format('truetype'),
    url('../fonts/Calibri-LightItalic/Calibri-LightItalic.svg#Calibri-LightItalic') format('svg');
}

@font-face {
    font-family: 'Corbel';
    font-style: normal;
    font-weight: normal;
    src:    url('../fonts/Corbel/Corbel.eot');
    src:    url('../fonts/Corbel/Corbel.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Corbel/Corbel.woff') format('woff'),
    url('../fonts/Corbel/Corbel.ttf')  format('truetype'),
    url('../fonts/Corbel/Corbel.svg#Corbel') format('svg');
}

@font-face {
    font-family: 'Corbel';
    font-style: italic;
    font-weight: normal;
    src:    url('../fonts/Corbel-Italic/Corbel-Italic.eot');
    src:    url('../fonts/Corbel-Italic/Corbel-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Corbel-Italic/Corbel-Italic.woff') format('woff'),
    url('../fonts/Corbel-Italic/Corbel-Italic.ttf')  format('truetype'),
    url('../fonts/Corbel-Italic/Corbel-Italic.svg#Corbel-Italic') format('svg');
}

@font-face {
    font-family: 'Corbel';
    font-style: normal;
    font-weight: bold;
    src:    url('../fonts/Corbel-Bold/Corbel-Bold.eot');
    src:    url('../fonts/Corbel-Bold/Corbel-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Corbel-Bold/Corbel-Bold.woff') format('woff'),
    url('../fonts/Corbel-Bold/Corbel-Bold.ttf')  format('truetype'),
    url('../fonts/Corbel-Bold/Corbel-Bold.svg#Corbel-Bold') format('svg');
}

@font-face {
    font-family: 'Corbel';
    font-style: italic;
    font-weight: bold;
    src:    url('../fonts/Corbel-BoldItalic/Corbel-BoldItalic.eot');
    src:    url('../fonts/Corbel-BoldItalic/Corbel-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Corbel-BoldItalic/Corbel-BoldItalic.woff') format('woff'),
    url('../fonts/Corbel-BoldItalic/Corbel-BoldItalic.ttf')  format('truetype'),
    url('../fonts/Corbel-BoldItalic/Corbel-BoldItalic.svg#Corbel-BoldItalic') format('svg');
}

@font-face {
    font-family: 'FranklinGothic';
    font-style: normal;
    font-weight: normal;
    src:    url('../fonts/FranklinGothic-Demi/FranklinGothic-Demi.eot');
    src:    url('../fonts/FranklinGothic-Demi/FranklinGothic-Demi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FranklinGothic-Demi/FranklinGothic-Demi.woff') format('woff'),
    url('../fonts/FranklinGothic-Demi/FranklinGothic-Demi.ttf')  format('truetype'),
    url('../fonts/FranklinGothic-Demi/FranklinGothic-Demi.svg#FranklinGothic-Demi') format('svg');
}

@font-face {
    font-family: 'FranklinGothicCond';
    font-style: normal;
    font-weight: normal;
    src:    url('../fonts/FranklinGothic-DemiCond/FranklinGothic-DemiCond.eot');
    src:    url('../fonts/FranklinGothic-DemiCond/FranklinGothic-DemiCond.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FranklinGothic-DemiCond/FranklinGothic-DemiCond.woff') format('woff'),
    url('../fonts/FranklinGothic-DemiCond/FranklinGothic-DemiCond.ttf')  format('truetype'),
    url('../fonts/FranklinGothic-DemiCond/FranklinGothic-DemiCond.svg#FranklinGothic-DemiCond') format('svg');
}

@font-face {
    font-family: 'FranklinGothic';
    font-style: italic;
    font-weight: normal;
    src:    url('../fonts/FranklinGothic-DemiItalic/FranklinGothic-DemiItalic.eot');
    src:    url('../fonts/FranklinGothic-DemiItalic/FranklinGothic-DemiItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FranklinGothic-DemiItalic/FranklinGothic-DemiItalic.woff') format('woff'),
    url('../fonts/FranklinGothic-DemiItalic/FranklinGothic-DemiItalic.ttf')  format('truetype'),
    url('../fonts/FranklinGothic-DemiItalic/FranklinGothic-DemiItalic.svg#FranklinGothic-DemiItalic') format('svg');
}

@font-face {
    font-family: 'FranklinGothic';
    font-style: normal;
    font-weight: bold;
    src:    url('../fonts/FranklinGothic-Heavy/FranklinGothic-Heavy.eot');
    src:    url('../fonts/FranklinGothic-Heavy/FranklinGothic-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FranklinGothic-Heavy/FranklinGothic-Heavy.woff') format('woff'),
    url('../fonts/FranklinGothic-Heavy/FranklinGothic-Heavy.ttf')  format('truetype'),
    url('../fonts/FranklinGothic-Heavy/FranklinGothic-Heavy.svg#FranklinGothic-Heavy') format('svg');
}

@font-face {
    font-family: 'FranklinGothic';
    font-style: italic;
    font-weight: bold;
    src:    url('../fonts/FranklinGothic-HeavyItalic/FranklinGothic-HeavyItalic.eot');
    src:    url('../fonts/FranklinGothic-HeavyItalic/FranklinGothic-HeavyItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FranklinGothic-HeavyItalic/FranklinGothic-HeavyItalic.woff') format('woff'),
    url('../fonts/FranklinGothic-HeavyItalic/FranklinGothic-HeavyItalic.ttf')  format('truetype'),
    url('../fonts/FranklinGothic-HeavyItalic/FranklinGothic-HeavyItalic.svg#FranklinGothic-HeavyItalic') format('svg');
}

@font-face {
    font-family: 'FranklinGothic';
    font-style: normal;
    font-weight: 300;
    src:    url('../fonts/FranklinGothic-Medium/FranklinGothic-Medium.eot');
    src:    url('../fonts/FranklinGothic-Medium/FranklinGothic-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FranklinGothic-Medium/FranklinGothic-Medium.woff') format('woff'),
    url('../fonts/FranklinGothic-Medium/FranklinGothic-Medium.ttf')  format('truetype'),
    url('../fonts/FranklinGothic-Medium/FranklinGothic-Medium.svg#FranklinGothic-Medium') format('svg');
}

@font-face {
    font-family: 'FranklinGothic';
    font-style: italic;
    font-weight: 300;
    src:    url('../fonts/FranklinGothic-MediumItalic/FranklinGothic-MediumItalic.eot');
    src:    url('../fonts/FranklinGothic-MediumItalic/FranklinGothic-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FranklinGothic-MediumItalic/FranklinGothic-MediumItalic.woff') format('woff'),
    url('../fonts/FranklinGothic-MediumItalic/FranklinGothic-MediumItalic.ttf')  format('truetype'),
    url('../fonts/FranklinGothic-MediumItalic/FranklinGothic-MediumItalic.svg#FranklinGothic-MediumItalic') format('svg');
}

@font-face {
    font-family: 'FranklinGothicCond';
    font-style: normal;
    font-weight: 300;
    src:    url('../fonts/FranklinGothic-MediumCond/FranklinGothic-MediumCond.eot');
    src:    url('../fonts/FranklinGothic-MediumCond/FranklinGothic-MediumCond.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FranklinGothic-MediumCond/FranklinGothic-MediumCond.woff') format('woff'),
    url('../fonts/FranklinGothic-MediumCond/FranklinGothic-MediumCond.ttf')  format('truetype'),
    url('../fonts/FranklinGothic-MediumCond/FranklinGothic-MediumCond.svg#FranklinGothic-MediumCond') format('svg');
}

@font-face {
    font-family: 'Impact';
    font-style: normal;
    font-weight: 300;
    src:    url('../fonts/Impact/Impact.eot');
    src:    url('../fonts/Impact/Impact.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Impact/Impact.woff') format('woff'),
    url('../fonts/Impact/Impact.ttf')  format('truetype'),
    url('../fonts/Impact/Impact.svg#Impact') format('svg');
}

@font-face {
    font-family: 'Anfisa';
    font-style: normal;
    font-weight: normal;
    src:    url('../fonts/AnfisaGrotesk/AnfisaGrotesk.eot');
    src:    url('../fonts/AnfisaGrotesk/AnfisaGrotesk.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AnfisaGrotesk/AnfisaGrotesk.woff') format('woff'),
    url('../fonts/AnfisaGrotesk/AnfisaGrotesk.ttf')  format('truetype'),
    url('../fonts/AnfisaGrotesk/AnfisaGrotesk.svg#AnfisaGrotesk') format('svg');
}

@font-face {
    font-family: 'Cordeballet';
    font-style: normal;
    font-weight: normal;
    src:    url('../fonts/Cordeballet/Cordeballet.eot');
    src:    url('../fonts/Cordeballet/Cordeballet.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Cordeballet/Cordeballet.woff') format('woff'),
    url('../fonts/Cordeballet/Cordeballet.ttf')  format('truetype'),
    url('../fonts/Cordeballet/Cordeballet.svg#Cordeballet') format('svg');
}

@font-face {
    font-family: 'Decorlz';
    font-style: normal;
    font-weight: normal;
    src:    url('../fonts/Decorlz/Decorlz.eot');
    src:    url('../fonts/Decorlz/Decorlz.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Decorlz/Decorlz.woff') format('woff'),
    url('../fonts/Decorlz/Decorlz.ttf')  format('truetype'),
    url('../fonts/Decorlz/Decorlz.svg#Decorlz') format('svg');
}

@font-face {
    font-family: 'Evgenia Deco';
    font-style: normal;
    font-weight: normal;
    src:    url('../fonts/EvgeniaDeco/EvgeniaDeco.eot');
    src:    url('../fonts/EvgeniaDeco/EvgeniaDeco.eot?#iefix') format('embedded-opentype'),
    url('../fonts/EvgeniaDeco/EvgeniaDeco.woff') format('woff'),
    url('../fonts/EvgeniaDeco/EvgeniaDeco.ttf')  format('truetype'),
    url('../fonts/EvgeniaDeco/EvgeniaDeco.svg#EvgeniaDeco') format('svg');
}

@font-face {
    font-family: 'Izhitsa';
    font-style: normal;
    font-weight: normal;
    src:    url('../fonts/Izhitsa/Izhitsa.eot');
    src:    url('../fonts/Izhitsa/Izhitsa.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Izhitsa/Izhitsa.woff') format('woff'),
    url('../fonts/Izhitsa/Izhitsa.ttf')  format('truetype'),
    url('../fonts/Izhitsa/Izhitsa.svg#Izhitsa') format('svg');
}

@font-face {
    font-family: 'Liana';
    font-style: normal;
    font-weight: normal;
    src:    url('../fonts/Liana/Liana.eot');
    src:    url('../fonts/Liana/Liana.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Liana/Liana.woff') format('woff'),
    url('../fonts/Liana/Liana.ttf')  format('truetype'),
    url('../fonts/Liana/Liana.svg#Liana') format('svg');
}

@font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: normal;
    src:    url('../fonts/Lobster/Lobster.eot');
    src:    url('../fonts/Lobster/Lobster.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lobster/Lobster.woff') format('woff'),
    url('../fonts/Lobster/Lobster.ttf')  format('truetype'),
    url('../fonts/Lobster/Lobster.svg#Lobster') format('svg');
}

@font-face {
    font-family: 'Tavrida';
    font-style: normal;
    font-weight: normal;
    src:    url('../fonts/TavridaAd-Bold/TavridaAd-Bold.eot');
    src:    url('../fonts/TavridaAd-Bold/TavridaAd-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TavridaAd-Bold/TavridaAd-Bold.woff') format('woff'),
    url('../fonts/TavridaAd-Bold/TavridaAd-Bold.ttf')  format('truetype'),
    url('../fonts/TavridaAd-Bold/TavridaAd-Bold.svg#TavridaAd-Bold') format('svg');
}

@font-face {
    font-family: 'Traktir Modern';
    font-style: normal;
    font-weight: normal;
    src:    url('../fonts/Traktir-Modern/Traktir-Modern.eot');
    src:    url('../fonts/Traktir-Modern/Traktir-Modern.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Traktir-Modern/Traktir-Modern.woff') format('woff'),
    url('../fonts/Traktir-Modern/Traktir-Modern.ttf')  format('truetype'),
    url('../fonts/Traktir-Modern/Traktir-Modern.svg#Traktir-Modern') format('svg');
}

@font-face {
    font-family: 'Vivaldi';
    font-style: normal;
    font-weight: normal;
    src:    url('../fonts/Vivaldiscript/Vivaldiscript.eot');
    src:    url('../fonts/Vivaldiscript/Vivaldiscript.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vivaldiscript/Vivaldiscript.woff') format('woff'),
    url('../fonts/Vivaldiscript/Vivaldiscript.ttf')  format('truetype'),
    url('../fonts/Vivaldiscript/Vivaldiscript.svg#Vivaldiscript') format('svg');
}

@font-face {
    font-family: 'Book Antiqua';
    font-style: normal;
    font-weight: bold;
    src:    url('../fonts/BookAntiqua-Bold/BookAntiqua-Bold.eot');
    src:    url('../fonts/BookAntiqua-Bold/BookAntiqua-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BookAntiqua-Bold/BookAntiqua-Bold.woff') format('woff'),
    url('../fonts/BookAntiqua-Bold/BookAntiqua-Bold.ttf')  format('truetype'),
    url('../fonts/BookAntiqua-Bold/BookAntiqua-Bold.svg#BookAntiqua-Bold') format('svg');
}

@font-face {
    font-family: 'Book Antiqua';
    font-style: italic;
    font-weight: bold;
    src:    url('../fonts/BookAntiqua-BoldItalic/BookAntiqua-BoldItalic.eot');
    src:    url('../fonts/BookAntiqua-BoldItalic/BookAntiqua-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BookAntiqua-BoldItalic/BookAntiqua-BoldItalic.woff') format('woff'),
    url('../fonts/BookAntiqua-BoldItalic/BookAntiqua-BoldItalic.ttf')  format('truetype'),
    url('../fonts/BookAntiqua-BoldItalic/BookAntiqua-BoldItalic.svg#BookAntiqua-BoldItalic') format('svg');
}

@font-face {
    font-family: 'Book Antiqua';
    font-style: italic;
    font-weight: normal;
    src:    url('../fonts/BookAntiqua-Italic/BookAntiqua-Italic.eot');
    src:    url('../fonts/BookAntiqua-Italic/BookAntiqua-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BookAntiqua-Italic/BookAntiqua-Italic.woff') format('woff'),
    url('../fonts/BookAntiqua-Italic/BookAntiqua-Italic.ttf')  format('truetype'),
    url('../fonts/BookAntiqua-Italic/BookAntiqua-Italic.svg#BookAntiqua-Italic') format('svg');
}

@font-face {
    font-family: 'Book Antiqua';
    font-style: normal;
    font-weight: normal;
    src:    url('../fonts/BookAntiqua/BookAntiqua.eot');
    src:    url('../fonts/BookAntiqua/BookAntiqua.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BookAntiqua/BookAntiqua.woff') format('woff'),
    url('../fonts/BookAntiqua/BookAntiqua.ttf')  format('truetype'),
    url('../fonts/BookAntiqua/BookAntiqua.svg#BookAntiqua') format('svg');
}

@font-face {
    font-family: 'Bookman Old Style';
    font-style: normal;
    font-weight: normal;
    src:    url('../fonts/BookmanOldStyle/BookmanOldStyle.eot');
    src:    url('../fonts/BookmanOldStyle/BookmanOldStyle.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BookmanOldStyle/BookmanOldStyle.woff') format('woff'),
    url('../fonts/BookmanOldStyle/BookmanOldStyle.ttf')  format('truetype'),
    url('../fonts/BookmanOldStyle/BookmanOldStyle.svg#BookmanOldStyle') format('svg');
}

@font-face {
    font-family: 'Bookman Old Style';
    font-style: italic;
    font-weight: normal;
    src:    url('../fonts/BookmanOldStyle-Italic/BookmanOldStyle-Italic.eot');
    src:    url('../fonts/BookmanOldStyle-Italic/BookmanOldStyle-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BookmanOldStyle-Italic/BookmanOldStyle-Italic.woff') format('woff'),
    url('../fonts/BookmanOldStyle-Italic/BookmanOldStyle-Italic.ttf')  format('truetype'),
    url('../fonts/BookmanOldStyle-Italic/BookmanOldStyle-Italic.svg#BookmanOldStyle-Italic') format('svg');
}

@font-face {
    font-family: 'Bookman Old Style';
    font-style: normal;
    font-weight: bold;
    src:    url('../fonts/BookmanOldStyle-Bold/BookmanOldStyle-Bold.eot');
    src:    url('../fonts/BookmanOldStyle-Bold/BookmanOldStyle-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BookmanOldStyle-Bold/BookmanOldStyle-Bold.woff') format('woff'),
    url('../fonts/BookmanOldStyle-Bold/BookmanOldStyle-Bold.ttf')  format('truetype'),
    url('../fonts/BookmanOldStyle-Bold/BookmanOldStyle-Bold.svg#BookmanOldStyle-Bold') format('svg');
}

@font-face {
    font-family: 'Bookman Old Style';
    font-style: italic;
    font-weight: bold;
    src:    url('../fonts/BookmanOldStyle-BoldItalic/BookmanOldStyle-BoldItalic.eot');
    src:    url('../fonts/BookmanOldStyle-BoldItalic/BookmanOldStyle-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BookmanOldStyle-BoldItalic/BookmanOldStyle-BoldItalic.woff') format('woff'),
    url('../fonts/BookmanOldStyle-BoldItalic/BookmanOldStyle-BoldItalic.ttf')  format('truetype'),
    url('../fonts/BookmanOldStyle-BoldItalic/BookmanOldStyle-BoldItalic.svg#BookmanOldStyle-BoldItalic') format('svg');
}

@font-face {
    font-family: 'Cambria';
    font-style: normal;
    font-weight: normal;
    src:    url('../fonts/Cambria/Cambria.eot');
    src:    url('../fonts/Cambria/Cambria.eot?#iefix') format('embedded-opentype'),
        //url('../fonts/Cambria/Cambria.woff') format('woff'),
    url('../fonts/Cambria/Cambria.ttf')  format('truetype'),
    url('../fonts/Cambria/Cambria.svg#Cambria') format('svg');
}

@font-face {
    font-family: 'Cambria';
    font-style: italic;
    font-weight: normal;
    src:    url('../fonts/Cambria-Italic/Cambria-Italic.eot');
    src:    url('../fonts/Cambria-Italic/Cambria-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Cambria-Italic/Cambria-Italic.woff') format('woff'),
    url('../fonts/Cambria-Italic/Cambria-Italic.ttf')  format('truetype'),
    url('../fonts/Cambria-Italic/Cambria-Italic.svg#Cambria-Italic') format('svg');
}

@font-face {
    font-family: 'Cambria';
    font-style: normal;
    font-weight: bold;
    src:    url('../fonts/Cambria-Bold/Cambria-Bold.eot');
    src:    url('../fonts/Cambria-Bold/Cambria-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Cambria-Bold/Cambria-Bold.woff') format('woff'),
    url('../fonts/Cambria-Bold/Cambria-Bold.ttf')  format('truetype'),
    url('../fonts/Cambria-Bold/Cambria-Bold.svg#Cambria-Bold') format('svg');
}

@font-face {
    font-family: 'Cambria';
    font-style: italic;
    font-weight: bold;
    src:    url('../fonts/Cambria-BoldItalic/Cambria-BoldItalic.eot');
    src:    url('../fonts/Cambria-BoldItalic/Cambria-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Cambria-BoldItalic/Cambria-BoldItalic.woff') format('woff'),
    url('../fonts/Cambria-BoldItalic/Cambria-BoldItalic.ttf')  format('truetype'),
    url('../fonts/Cambria-BoldItalic/Cambria-BoldItalic.svg#Cambria-BoldItalic') format('svg');
}

@font-face {
    font-family: 'Century Schoolbook';
    font-style: normal;
    font-weight: normal;
    src:    url('../fonts/CenturySchoolbook/CenturySchoolbook.eot');
    src:    url('../fonts/CenturySchoolbook/CenturySchoolbook.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CenturySchoolbook/CenturySchoolbook.woff') format('woff'),
    url('../fonts/CenturySchoolbook/CenturySchoolbook.ttf')  format('truetype'),
    url('../fonts/CenturySchoolbook/CenturySchoolbook.svg#Cambria-BoldItalic') format('svg');
}

@font-face {
    font-family: 'Century Schoolbook';
    font-style: italic;
    font-weight: normal;
    src:    url('../fonts/CenturySchoolbook-Italic/CenturySchoolbook-Italic.eot');
    src:    url('../fonts/CenturySchoolbook-Italic/CenturySchoolbook-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CenturySchoolbook-Italic/CenturySchoolbook-Italic.woff') format('woff'),
    url('../fonts/CenturySchoolbook-Italic/CenturySchoolbook-Italic.ttf')  format('truetype'),
    url('../fonts/CenturySchoolbook-Italic/CenturySchoolbook-Italic.svg#CenturySchoolbook-Italic') format('svg');
}

@font-face {
    font-family: 'Century Schoolbook';
    font-style: normal;
    font-weight: bold;
    src:    url('../fonts/CenturySchoolbook-Bold/CenturySchoolbook-Bold.eot');
    src:    url('../fonts/CenturySchoolbook-Bold/CenturySchoolbook-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CenturySchoolbook-Bold/CenturySchoolbook-Bold.woff') format('woff'),
    url('../fonts/CenturySchoolbook-Bold/CenturySchoolbook-Bold.ttf')  format('truetype'),
    url('../fonts/CenturySchoolbook-Bold/CenturySchoolbook-Bold.svg#CenturySchoolbook-Bold') format('svg');
}

@font-face {
    font-family: 'Century Schoolbook';
    font-style: italic;
    font-weight: bold;
    src:    url('../fonts/CenturySchoolbook-BoldItalic/CenturySchoolbook-BoldItalic.eot');
    src:    url('../fonts/CenturySchoolbook-BoldItalic/CenturySchoolbook-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CenturySchoolbook-BoldItalic/CenturySchoolbook-BoldItalic.woff') format('woff'),
    url('../fonts/CenturySchoolbook-BoldItalic/CenturySchoolbook-BoldItalic.ttf')  format('truetype'),
    url('../fonts/CenturySchoolbook-BoldItalic/CenturySchoolbook-BoldItalic.svg#CenturySchoolbook-BoldItalic') format('svg');
}

@font-face {
    font-family: 'Comic Sans MS';
    font-style: normal;
    font-weight: normal;
    src:    url('../fonts/ComicSansMS/ComicSansMS.eot');
    src:    url('../fonts/ComicSansMS/ComicSansMS.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ComicSansMS/ComicSansMS.woff') format('woff'),
    url('../fonts/ComicSansMS/ComicSansMS.ttf')  format('truetype'),
    url('../fonts/ComicSansMS/ComicSansMS.svg#ComicSansMS') format('svg');
}

@font-face {
    font-family: 'Comic Sans MS';
    font-style: normal;
    font-weight: bold;
    src:    url('../fonts/ComicSansMS-Bold/ComicSansMS-Bold.eot');
    src:    url('../fonts/ComicSansMS-Bold/ComicSansMS-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ComicSansMS-Bold/ComicSansMS-Bold.woff') format('woff'),
    url('../fonts/ComicSansMS-Bold/ComicSansMS-Bold.ttf')  format('truetype'),
    url('../fonts/ComicSansMS-Bold/ComicSansMS-Bold.svg#ComicSansMS-Bold') format('svg');
}

@font-face {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: normal;
    src:    url('../fonts/Georgia/Georgia.eot');
    src:    url('../fonts/Georgia/Georgia.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Georgia/Georgia.woff') format('woff'),
    url('../fonts/Georgia/Georgia.ttf')  format('truetype'),
    url('../fonts/Georgia/Georgia.svg#Georgia') format('svg');
}

@font-face {
    font-family: 'Georgia';
    font-style: italic;
    font-weight: normal;
    src:    url('../fonts/Georgia-Italic/Georgia-Italic.eot');
    src:    url('../fonts/Georgia-Italic/Georgia-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Georgia-Italic/Georgia-Italic.woff') format('woff'),
    url('../fonts/Georgia-Italic/Georgia-Italic.ttf')  format('truetype'),
    url('../fonts/Georgia-Italic/Georgia-Italic.svg#Georgia-Italic') format('svg');
}

@font-face {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: bold;
    src:    url('../fonts/Georgia-Bold/Georgia-Bold.eot');
    src:    url('../fonts/Georgia-Bold/Georgia-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Georgia-Bold/Georgia-Bold.woff') format('woff'),
    url('../fonts/Georgia-Bold/Georgia-Bold.ttf')  format('truetype'),
    url('../fonts/Georgia-Bold/Georgia-Bold.svg#Georgia-Bold') format('svg');
}

@font-face {
    font-family: 'Georgia';
    font-style: italic;
    font-weight: bold;
    src:    url('../fonts/Georgia-BoldItalic/Georgia-BoldItalic.eot');
    src:    url('../fonts/Georgia-BoldItalic/Georgia-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Georgia-BoldItalic/Georgia-BoldItalic.woff') format('woff'),
    url('../fonts/Georgia-BoldItalic/Georgia-BoldItalic.ttf')  format('truetype'),
    url('../fonts/Georgia-BoldItalic/Georgia-BoldItalic.svg#Georgia-BoldItalic') format('svg');
}

@font-face {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: normal;
    src:    url('../fonts/TimesNewRoman/TimesNewRomanPSMT.eot');
    src:    url('../fonts/TimesNewRoman/TimesNewRomanPSMT.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TimesNewRoman/TimesNewRomanPSMT.woff') format('woff'),
    url('../fonts/TimesNewRoman/TimesNewRomanPSMT.ttf')  format('truetype'),
    url('../fonts/TimesNewRoman/TimesNewRomanPSMT.svg#TimesNewRomanPSMT') format('svg');
}

@font-face {
    font-family: 'Times New Roman';
    font-style: italic;
    font-weight: normal;
    src:    url('../fonts/TimesNewRoman-Italic/TimesNewRomanPS-ItalicMT.eot');
    src:    url('../fonts/TimesNewRoman-Italic/TimesNewRomanPS-ItalicMT.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TimesNewRoman-Italic/TimesNewRomanPS-ItalicMT.woff') format('woff'),
    url('../fonts/TimesNewRoman-Italic/TimesNewRomanPS-ItalicMT.ttf')  format('truetype'),
    url('../fonts/TimesNewRoman-Italic/TimesNewRomanPS-ItalicMT.svg#TimesNewRomanPS-ItalicMT') format('svg');
}

@font-face {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: bold;
    src:    url('../fonts/TimesNewRoman-Bold/TimesNewRomanPS-BoldMT.eot');
    src:    url('../fonts/TimesNewRoman-Bold/TimesNewRomanPS-BoldMT.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TimesNewRoman-Bold/TimesNewRomanPS-BoldMT.woff') format('woff'),
    url('../fonts/TimesNewRoman-Bold/TimesNewRomanPS-BoldMT.ttf')  format('truetype'),
    url('../fonts/TimesNewRoman-Bold/TimesNewRomanPS-BoldMT.svg#TimesNewRomanPS-BoldMT') format('svg');
}

@font-face {
    font-family: 'Times New Roman';
    font-style: italic;
    font-weight: bold;
    src:    url('../fonts/TimesNewRoman-BoldItalic/TimesNewRomanPS-BoldItalicMT.eot');
    src:    url('../fonts/TimesNewRoman-BoldItalic/TimesNewRomanPS-BoldItalicMT.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TimesNewRoman-BoldItalic/TimesNewRomanPS-BoldItalicMT.woff') format('woff'),
    url('../fonts/TimesNewRoman-BoldItalic/TimesNewRomanPS-BoldItalicMT.ttf')  format('truetype'),
    url('../fonts/TimesNewRoman-BoldItalic/TimesNewRomanPS-BoldItalicMT.svg#TimesNewRomanPS-BoldItalicMT') format('svg');
}