@mixin fonts() {
    &--agencyb {
        font-family: 'Agency', sans-serif;
        font-weight: bold;
    }
    &--agency {
        font-family: 'Agency', sans-serif;
    }
    &--arialmt {
        font-family: 'ArialMT', sans-serif;
    }
    &--arialmtitalic {
        font-family: 'ArialMT', sans-serif;
        font-style: italic;
    }
    &--arialmtbold {
        font-family: 'ArialMT', sans-serif;
        font-weight: bold;
    }
    &--arialmtbolditalic {
        font-family: 'ArialMT', sans-serif;
        font-style: italic;
        font-weight: bold;
    }
    &--arialnarrow {
        font-family: 'ArialNarrow', sans-serif;
    }
    &--arialnarrowitalic {
        font-family: 'ArialNarrow', sans-serif;
        font-style: italic;
    }
    &--arialnarrowbold {
        font-family: 'ArialNarrow', sans-serif;
        font-weight: bold;
    }
    &--arialnarrowbolditalic {
        font-family: 'ArialNarrow', sans-serif;
        font-style: italic;
        font-weight: bold;
    }
    &--arialblack {
        font-family: 'Arial Black', sans-serif;
    }
    &--calibri {
        font-family: 'Calibri', sans-serif;
    }
    &--calibriitalic {
        font-family: 'Calibri', sans-serif;
        font-style: italic;
    }
    &--calibribold {
        font-family: 'Calibri', sans-serif;
        font-weight: bold;
    }
    &--calibribolditalic {
        font-family: 'Calibri', sans-serif;
        font-style: italic;
        font-weight: bold;
    }
    &--calibrilight {
        font-family: 'Calibri', sans-serif;
        font-weight: 300;
    }
    &--calibrilightitalic {
        font-family: 'Calibri', sans-serif;
        font-style: italic;
        font-weight: 300;
    }
    &--corbel {
        font-family: 'Corbel', sans-serif;
    }
    &--corbelitalic {
        font-family: 'Corbel', sans-serif;
        font-style: italic;
    }
    &--corbelbold {
        font-family: 'Corbel', sans-serif;
        font-weight: bold;
    }
    &--corbelbolditalic {
        font-family: 'Corbel', sans-serif;
        font-style: italic;
        font-weight: bold;
    }
    &--franklin {
        font-family: 'FranklinGothic', sans-serif;
    }
    &--franklincond {
        font-family: 'FranklinGothicCond', sans-serif;
    }
    &--franklinitalic {
        font-family: 'FranklinGothic', sans-serif;
        font-style: italic;
    }
    &--franklinbold {
        font-family: 'FranklinGothic', sans-serif;
        font-weight: bold;
    }
    &--franklinbolditalic {
        font-family: 'FranklinGothic', sans-serif;
        font-style: italic;
        font-weight: bold;
    }
    &--franklinmedium {
        font-family: 'FranklinGothic', sans-serif;
        font-weight: 300;
    }
    &--franklinmediumcond {
        font-family: 'FranklinGothicCond', sans-serif;
        font-weight: 300;
    }
    &--franklinmediumitalic {
        font-family: 'FranklinGothicCond', sans-serif;
        font-style: italic;
        font-weight: 300;
    }
    &--impact {
        font-family: 'Impact', sans-serif;
    }
    &--anfisa {
        font-family: 'Anfisa', serif;
    }
    &--cordeballet {
        font-family: 'Cordeballet', serif;
    }
    &--decorlz {
        font-family: 'Decorlz', serif;
    }
    &--evgeniadeco {
        font-family: 'Evgenia Deco', serif;
    }
    &--izhitsa {
        font-family: 'Izhitsa', serif;
    }
    &--liana {
        font-family: 'Liana', serif;
    }
    &--lobster {
        font-family: 'Lobster', serif;
    }
    &--tavrida {
        font-family: 'Tavrida', serif;
    }
    &--traktir {
        font-family: 'Traktir Modern', serif;
    }
    &--vivaldi {
        font-family: 'Vivaldi', serif;
    }
    &--bookantiquabold {
        font-family: 'Book Antiqua', serif;
        font-weight: bold;
    }
    &--bookantiquabolditalic {
        font-family: 'Book Antiqua', serif;
        font-style: italic;
        font-weight: bold;
    }
    &--bookantiquaitalic {
        font-family: 'Book Antiqua', serif;
        font-style: italic;
    }
    &--bookantiqua {
        font-family: 'Book Antiqua', serif;
    }
    &--bookmanoldstyle {
        font-family: 'Bookman Old Style', serif;
    }
    &--bookmanoldstyleitalic {
        font-family: 'Bookman Old Style', serif;
        font-style: italic;
    }
    &--bookmanoldstylebold {
        font-family: 'Bookman Old Style', serif;
        font-weight: bold;
    }
    &--bookmanoldstylebolditalic {
        font-family: 'Bookman Old Style', serif;
        font-style: italic;
        font-weight: bold;
    }
    &--cambria {
        font-family: 'Cambria', serif;
    }
    &--cambriaitalic {
        font-family: 'Cambria', serif;
        font-style: italic;
    }
    &--cambriabold {
        font-family: 'Cambria', serif;
        font-weight: bold;
    }
    &--cambriabolditalic {
        font-family: 'Cambria', serif;
        font-style: italic;
        font-weight: bold;
    }
    &--centuryschoolbook {
        font-family: 'Century Schoolbook', serif;
    }
    &--centuryschoolbookitalic {
        font-family: 'Century Schoolbook', serif;
        font-style: italic;
    }
    &--centuryschoolbookbold {
        font-family: 'Century Schoolbook', serif;
        font-weight: bold;
    }
    &--centuryschoolbookbolditalic {
        font-family: 'Century Schoolbook', serif;
        font-style: italic;
        font-weight: bold;
    }
    &--comicsans {
        font-family: 'Comic Sans MS', serif;
    }
    &--comicsansbold {
        font-family: 'Comic Sans MS', serif;
        font-weight: bold;
    }
    &--georgia {
        font-family: 'Georgia', serif;
    }
    &--georgiaitalic {
        font-family: 'Georgia', serif;
        font-style: italic;
    }
    &--georgiabold {
        font-family: 'Georgia', serif;
        font-weight: bold;
    }
    &--georgiabolditalic {
        font-family: 'Georgia', serif;
        font-style: italic;
        font-weight: bold;
    }
    &--times {
        font-family: 'Times New Roman', serif;
    }
    &--timesitalic {
        font-family: 'Times New Roman', serif;
        font-style: italic;
    }
    &--timesbold {
        font-family: 'Times New Roman', serif;
        font-weight: bold;
    }
    &--timesbolditalic {
        font-family: 'Times New Roman', serif;
        font-style: italic;
        font-weight: bold;
    }
}

@mixin clearfix {
    &::before, &::after {
        content: '';
        display: table;
        clear: both;
    }
}