@import "fonts";
@import "mixins";

.sign {
    $sign: &;

    &__hidden {
        display: none;
    }
    &__calc {
        @include clearfix;
    }
    &__container {
        box-sizing: border-box;
        float: left;
        width: 500px;
        padding-right: 10px;
    }
    &__sidebar {
        float: right;
        width: 240px;
    }
    &__optionTitle {
        padding: 0 15px;
        line-height: 40px;
        background: linear-gradient(to top, #eff7fa 0, #dbf3fc 18%, #f4f9fb 83%, #f5f9fa 100%);
        color: #5CA844;
        font-weight: 600;
        border: 1px solid #e5e5e5;
        &:first-child {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
    }
    &__optionContent {
        padding: 10px 15px;
        border-left: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
        &:last-child {
            border-bottom: 1px solid #e5e5e5;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
    &__button {
        position: relative;
        z-index: 30;
        display: inline-block;
        height: 30px;
        line-height: 30px;
        padding: 0 .7rem;
        background: #ffd500;
        background: linear-gradient(to bottom,#60aa45 0,darken(#60aa45, 10) 100%);
        border: none;
        border-radius: 3px;
        color: #fff;
        cursor: pointer;
        font-weight: 700;
        text-align: center;
        transition: all 0.15s ease-in-out;
        font-family: 'Circe', sans-serif;
        outline: none;
        &--large {
            height: 50px;
            line-height: 50px;
            padding: 0 2rem;
            font-size: 16px;
        }
        &--hollow {
            border: 1px solid #e5e5e5;
            background: transparent;
            color: black;
            font-weight: 400;
            &:hover {
                border-color: #aaa;
            }
            &#{$sign}__button--attached {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
            &#{$sign}__button--active {
                background: linear-gradient(to bottom,#60aa45 0,darken(#60aa45, 10) 100%);
                color: white;
                border: 0;
                font-weight: 700;
            }
        }
        &--block {
            width: 100% !important;
        }
    }
    &__input {
        box-sizing: border-box;
        display: inline-block;
        width: 120px;
        height: 30px;
        line-height: 20px;
        padding: .3rem .5rem;
        background-color: #fff;
        border: .1rem solid #e5e5e5;
        border-radius: 3px;
        outline: none;
    }
    &__select {
        box-sizing: border-box;
        width: 120px;
        display: inline-block;
        height: 30px;
        line-height: 20px;
        padding: .3rem .5rem;
        background-color: #fff;
        border: .1rem solid #e5e5e5;
        border-radius: 3px;
        outline: none;
    }
    &__row {
        @include clearfix;
        & + & {
            margin-top: 15px;
        }
        #{$sign}__button {
            display: inline-block;
            width: 120px;
            vertical-align: middle;
        }
        #{$sign}__buttonWrapper {
            display: inline-block;
            width: 120px;
            vertical-align: middle;
        }
    }
    &__label {
        display: inline-block;
        width: 130px;
        margin-right: 10px;
        font-weight: 600;
        #{$sign}__input ~ & {
            margin-left: 10px;
        }
        &--fixed {
            width: 150px;
        }
    }
    &__colorWrapper {
        width: 120px;
        display: inline-block;
    }
    &__colorButton {
        overflow: hidden;
        width: 100%;
        height: 30px;
        display: inline-block;
        border: 3px solid black;
        border-radius: 3px;
        text-indent: -9000px;
        cursor: pointer;
    }
    &__checkbox {
        display: none;
        & + #{$sign}__checkboxLabel {
            box-sizing: border-box;
            display: inline-block;
            width: 100%;
            line-height: 30px;
            padding: 0 20px 0 0;
            cursor: pointer;
            position: relative;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 14px;
            vertical-align: middle;
            font-weight: 600;
            &::before {
                display: block;
                position: absolute;
                content: ' ';
                width: 14px;
                height: 14px;
                top: 7px;
                right: 5px;
                background: url("http://www.geliostd.ru/static/img/checkbox.svg") top center no-repeat #fff;
            }
            &--withTooltip {
                float: right;
                width: 235px;
            }
        }
        &:checked + #{$sign}__checkboxLabel {
            color: #5CA844;
            &::before {
                background-position: bottom center;
            }
        }
    }
    &__tooltip {

        $tooltip: &;

        position: relative;
        display: inline-block;
        vertical-align: middle;
        padding: 10px 0 0 0;
        margin: -10px 0 0 0;
        &--right {
            padding: 0 10px 0 0;
            margin: 0 -10px 0 0;
        }
        &--left {
            padding: 0 0 0 10px;
            margin: 0 0 0 -10px;
        }
        &--bottom {
            padding: 0 0 10px 0;
            margin: 0 0 -10px 0;
        }
        &--inOption {
            float: left;
            margin-top: -5px;
        }
        &__icon {
            position: relative;
            display: inline-block;
            width: 20px;
            text-align: center;
            color: currentColor;
            cursor: help;
            &::before {
                content: '';
                position: absolute;
                display: block;
                top: -1px;
                left: -1px;
                width: 19px;
                height: 19px;
                border: 1px solid #aaa;
                border-radius: 50%;
            }
        }
        &__text {
            z-index: 1;
            position: absolute;
            display: none;
            top: 0;
            left: 50%;
            transform: translate(-50%, -100%);
            padding: 20px;
            background-color: #fff;
            color: #717381;
            font-size: 12px;
            line-height: 18px;
            font-weight: 400;
            text-align: left;
            border-radius: 4px;
            box-shadow: 0 6px 13px rgba(0, 0, 0, 0.16), 0 0 7px 1px rgba(0, 0, 0, 0.1);
            &::before {
                content: '';
                display: block;
                position: absolute;
                left: 50%;
                bottom: -5px;
                width: 10px;
                height: 10px;
                margin-left: -5px;
                background-color: white;
                box-shadow: 0 6px 13px rgba(0, 0, 0, 0.16), 0 0 7px 1px rgba(0, 0, 0, 0.1);
                transform: rotate(45deg);
            }
            &::after {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 30px;
                height: 20px;
                margin-left: -15px;
                background-color: white;
            }
            #{$tooltip}--right & {
                top: 50%;
                right: 0;
                left: auto;
                bottom: auto;
                transform: translate(100%, -50%);
                &::before {
                    left: 0;
                    top: 50%;
                    bottom: auto;
                    margin-top: -5px;
                }
                &::after {
                    left: 15px;
                    top: 50%;
                    width: 20px;
                    height: 30px;
                    margin-top: -15px;
                }
            }
            #{$tooltip}--left & {
                top: 50%;
                left: 0;
                right: auto;
                bottom: auto;
                transform: translate(-100%, -50%);
                &::before {
                    right: -5px;
                    top: 50%;
                    bottom: auto;
                    left: auto;
                    margin-top: -5px;
                }
                &::after {
                    right: 0;
                    top: 50%;
                    bottom: auto;
                    left: auto;
                    width: 20px;
                    height: 30px;
                    margin-top: -15px;
                }
            }
            #{$tooltip}--bottom & {
                left: 50%;
                bottom: 0;
                right: auto;
                top: auto;
                transform: translate(-50%, 100%);
                &::before {
                    top: -5px;
                    left: 50%;
                    bottom: auto;
                    margin-left: -5px;
                }
                &::after {
                    top: 0;
                    left: 50%;
                    width: 30px;
                    height: 20px;
                    margin-left: -15px;
                }
            }
        }
        &:hover &__text {
            display: inline-block;
            animation: drop .2s ease-out;
        }
        &--right:hover &__text {
            display: inline-block;
            animation: drop-right .2s ease-out;
        }
        &--left:hover &__text {
            display: inline-block;
            animation: drop-left .2s ease-out;
        }
        &--bottom:hover &__text {
            display: inline-block;
            animation: drop-bottom .2s ease-out;
        }
        &--small &__text {
            width: 205px;
        }
        &--large &__text {
            width: 400px;
        }
        @keyframes drop {
            0% { opacity: 0; top: -20px; transform: translate(-50%, -100%), scale(.5); }
            100% { opacity: 1; top: 0; transform: translate(-50%, -100%), scale(1); }
        }
        @keyframes drop-right {
            0% { opacity: 0; right: -20px; transform: translate(100%, -50%), scale(.5); }
            100% { opacity: 1; right: 0; transform: translate(100%, -50%), scale(1); }
        }
        @keyframes drop-left {
            0% { opacity: 0; left: -20px; transform: translate(-100%, -50%), scale(.5); }
            100% { opacity: 1; left: 0; transform: translate(-100%, -50%), scale(1); }
        }
        @keyframes drop-bottom {
            0% { opacity: 0; bottom: -20px; transform: translate(-50%, 100%), scale(.5); }
            100% { opacity: 1; bottom: 0; transform: translate(-50%, 100%), scale(1); }
        }
    }
    &__text {
        width: 100%;
        height: 40px;
        line-height: 40px;
        font-size: 24px;
        font-weight: 600;
    }

    &__templateList {
        margin-top: 13px;
        @include clearfix;
    }
    &__templateHeader {
        padding: 5px 0;
        font-weight: 600;
        font-size: 14px;
    }
    &__templateWrapper {
        box-sizing: border-box;
        float: left;
        width: 12.5%;
        text-align: center;
    }
    &__template {
        display: inline-block;
        width: 80px;
        height: 80px;
        font-size: 40px;
        font-weight: 600;
    }

    &__previewHolder {
        overflow: hidden;
        position: relative;
        width: 500px;
        height: 420px;
        margin-top: 200px;
        background-color: black;
    }
    &__boxWrapper {
        width: calc(100% - 100px);
        height: 370px;
        margin: 50px auto;
        perspective: 1600px;
        perspective-origin: 50% -240px;
    }
    &__box {
        transform-style: preserve-3d;
    }
    &__boxSide {
        display: block;
        position: absolute;
        width: 100%;
        height: 300px;
        transform-origin: 50% 50% 0;
        //&::before, &::after {
        //    content: "";
        //    display: block;
        //    position: absolute;
        //    width: 100%;
        //    height: 100%;
        //    opacity: 0;
        //    z-index: 25;
        //}
        //&::before {
        //    background: radial-gradient(top left, rgba(0, 0, 0, 0.5), #000000);
        //}
        //&::after {
        //    background: radial-gradient(top right, rgba(0, 0, 0, 0.5), #000000);
        //}
        &--front {
            transform: translateZ(150px);
            background: #222;
        }
        &--top {
            overflow: hidden;
            transform: rotateX(90deg) translateZ(150px);
            background: #000;
            //&::after {
            //    opacity: 0.25;
            //    width: 200%;
            //    height: 200%;
            //    margin-left: -50%;
            //    margin-top: -50%;
            //    background: radial-gradient(bottom, rgba(0, 0, 0, 0), #000000);
            //    background: -webkit-radial-gradient(bottom, rgba(0, 0, 0, 0), #000000);
            //}
        }
        &--bottom {
            transform: rotateX(-90deg) translateZ(150px);
            box-shadow: 0 0 100px rgba(0, 0, 0, 0.5), 0 0 25px rgba(0, 0, 0, .8);
            overflow: hidden;
        }
    }
    &__preview {
        position: relative;
        height: 400px;
        transform-origin: center center;
        transform-style: preserve-3d;
        transform: rotate3d(.2, -1, 0, 40deg);
        @include fonts();
    }
    &__previewText {
        position: absolute;
        display: inline-block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 140px;
        text-align: center;
        color: #13060D;
        &--char {
            color: darken(#4B0582, 10);
            @for $i from 1 through 30 {
                &:nth-child(#{$i}) {
                    transform: translate(-50%, -50%) translateZ(-1px * ($i - 1));
                }
                &.sign--light:nth-child(#{$i}) {
                    //transform: translateZ(-1px * ($i - 1) - 10px);
                }
            }
        }
        &--light {
            //color: lighten(#4B0582, 20);
            text-shadow: 1px 2px 2px lighten(#4B0582, 20), 7px 2px 10px lighten(#4B0582, 20), 0 0 70px lighten(#4B0582, 40);
        }
    }
    &__previewAreaWrapper {
        position: absolute;
        display: inline-block;
        padding: 3px;
        cursor: move;
        @include fonts();
        &:hover {
            #{$sign}__previewArea {
                border-color: rgba(255, 255, 255, .6);
            }
        }
    }
    &__previewArea {
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
        height: 100%;
        max-height: 100%;
        resize: none;
        outline: none;
        transition: all 0.2s ease-in-out;
        cursor: text;
        &:hover {
            border-color: rgba(255, 255, 255, .3) !important;
        }
        &:focus {
            box-shadow: 0 0 5px rgba(81, 203, 238, 1) !important;
            border: 1px solid rgba(81, 203, 238, 1) !important;
        }
        @include fonts;
    }
    &__previewAreaBounds {
        visibility: hidden;
        position: absolute;
        display: inline-block;
        width: auto;
        height: auto;
        @include fonts;
    }
    &__previewEditArea {
        overflow: hidden;
        padding: 3px;
        font-size: 24px;
        white-space: nowrap;
        border: 1px dashed rgba(255, 255, 255, .3);
        background-color: transparent;
        color: inherit;
    }
    &__boxBounds {
        position: relative;
    }
    &__axisValue {
        position: absolute;
        width: 40px;
    }
    &__yAxis {
        position: absolute;
        top: -20px;
        left: -20px;
        bottom: -30px;
        width: 0;
        border-right: 2px solid black;
        &::before {
            position: absolute;
            content: '';
            display: block;
            top: -5px;
            left: -4px;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 7px solid black;
        }
        #{$sign}__axisValue {
            left: 15px;
            top: 0;
        }
    }
    &__xAxis {
        position: absolute;
        left: -30px;
        bottom: -20px;
        right: 0;
        height: 0;
        border-bottom: 2px solid black;
        &::before {
            position: absolute;
            content: '';
            display: block;
            top: -4px;
            right: -5px;
            width: 0;
            height: 0;
            border-left: 7px solid black;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
        }
        #{$sign}__axisValue {
            bottom: -40px;
            right: 0;
        }
    }
    &__typeButtonWrapper {
        & + & {
            margin-top: 10px;
        }
    }
    &__subTypeButtonWrapper {
        display: flex;
        margin-top: 10px;
        #{$sign}__button {
            flex: 1;
            margin: 0 3px;
        }
    }
    &__buttonDescription {
        z-index: 10;
        position: relative;
        padding: 5px 10px;
        border: 1px solid #e5e5e5;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        font-size: 12px;
        animation: drop .2s ease-out;
    }
    &__order {
        text-align: right;
    }
    &__orderValue {
        margin-bottom: 10px;
        text-transform: uppercase;
        font-size: 18px;
    }
    &__orderTime {
        margin-bottom: 10px;
        font-size: 16px;
    }

    @keyframes drop {
        0% { transform: translateY(-100%) }
        100% { transform: translateY(0) }
    }
}