@import "./fonts";
@import "./mixins";

.sign {
    $sign: &;

    &__container {
        box-sizing: border-box;
        float: left;
        width: 500px;
        padding-right: 10px;
    }
    &__sidebar {
        float: left;
        width: 240px;
        margin-top: 50px;
    }
    &__optionTitle {
        padding: 0 15px;
        line-height: 40px;
        background: linear-gradient(to top, #eff7fa 0, #dbf3fc 18%, #f4f9fb 83%, #f5f9fa 100%);
        color: #5CA844;
        font-weight: 600;
        border: 1px solid #e5e5e5;
        &:first-child {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
    }
    &__optionContent {
        padding: 10px 15px;
        border-left: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
        &:last-child {
            border-bottom: 1px solid #e5e5e5;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
    &__button {
        display: inline-block;
        height: 30px;
        line-height: 30px;
        padding: 0 .7rem;
        background: #ffd500;
        background: linear-gradient(to bottom,#60aa45 0,darken(#60aa45, 10) 100%);
        border: none;
        border-radius: 3px;
        color: #fff;
        cursor: pointer;
        font-weight: 700;
        text-align: center;
        &--large {
            height: 50px;
            line-height: 50px;
            padding: 0 2rem;
            font-size: 16px;
        }
    }
    &__input {
        box-sizing: border-box;
        display: inline-block;
        width: 100px;
        height: 30px;
        line-height: 20px;
        padding: .3rem .5rem;
        background-color: #fff;
        border: .1rem solid #e5e5e5;
        border-radius: 3px;
        outline: none;
    }
    &__select {
        box-sizing: border-box;
        width: 100px;
        display: inline-block;
        height: 30px;
        line-height: 20px;
        padding: .3rem .5rem;
        background-color: #fff;
        border: .1rem solid #e5e5e5;
        border-radius: 3px;
        outline: none;
    }
    &__row {
        @include clearfix;
        & + & {
            margin-top: 15px;
        }
    }
    &__label {
        display: inline-block;
        width: 100px;
        margin-right: 5px;
        font-weight: 600;
        #{$sign}__input ~ & {
            margin-left: 10px;
        }
        &--fixed {
            width: 150px;
        }
    }
    &__colorWrapper {
        width: 100px;
        display: inline-block;
    }
    &__colorButton {
        overflow: hidden;
        width: 100%;
        height: 30px;
        display: inline-block;
        border: 3px solid black;
        border-radius: 3px;
        text-indent: -9000px;
        cursor: pointer;
    }
    &__checkbox {
        display: none;
        & + #{$sign}__checkboxLabel {
            box-sizing: border-box;
            display: inline-block;
            width: 100%;
            line-height: 30px;
            padding: 0 20px 0 0;
            cursor: pointer;
            position: relative;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 14px;
            vertical-align: middle;
            font-weight: 600;
            &::before {
                display: block;
                position: absolute;
                content: ' ';
                width: 14px;
                height: 14px;
                top: 7px;
                right: 5px;
                background: url("http://www.geliostd.ru/static/img/checkbox.svg") top center no-repeat #fff;
            }
            &--withTooltip {
                float: right;
                width: 235px;
            }
        }
        &:checked + #{$sign}__checkboxLabel {
            color: #5CA844;
            &::before {
                background-position: bottom center;
            }
        }
    }
    &__tooltip {

        $tooltip: &;

        position: relative;
        display: inline-block;
        vertical-align: middle;
        padding: 10px 0 0 0;
        margin: -10px 0 0 0;
        &--right {
            padding: 0 10px 0 0;
            margin: 0 -10px 0 0;
        }
        &--left {
            padding: 0 0 0 10px;
            margin: 0 0 0 -10px;
        }
        &--bottom {
            padding: 0 0 10px 0;
            margin: 0 0 -10px 0;
        }
        &--inOption {
            float: left;
            margin-top: -5px;
        }
        &__icon {
            position: relative;
            display: inline-block;
            width: 20px;
            text-align: center;
            color: currentColor;
            cursor: help;
            &::before {
                content: '';
                position: absolute;
                display: block;
                top: -1px;
                left: -1px;
                width: 19px;
                height: 19px;
                border: 1px solid #aaa;
                border-radius: 50%;
            }
        }
        &__text {
            z-index: 1;
            position: absolute;
            display: none;
            top: 0;
            left: 50%;
            transform: translate(-50%, -100%);
            padding: 20px;
            background-color: #fff;
            color: #717381;
            font-size: 12px;
            line-height: 18px;
            font-weight: 400;
            text-align: left;
            border-radius: 4px;
            box-shadow: 0 6px 13px rgba(0, 0, 0, 0.16), 0 0 7px 1px rgba(0, 0, 0, 0.1);
            &::before {
                content: '';
                display: block;
                position: absolute;
                left: 50%;
                bottom: -5px;
                width: 10px;
                height: 10px;
                margin-left: -5px;
                background-color: white;
                box-shadow: 0 6px 13px rgba(0, 0, 0, 0.16), 0 0 7px 1px rgba(0, 0, 0, 0.1);
                transform: rotate(45deg);
            }
            &::after {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 30px;
                height: 20px;
                margin-left: -15px;
                background-color: white;
            }
            #{$tooltip}--right & {
                top: 50%;
                right: 0;
                left: auto;
                bottom: auto;
                transform: translate(100%, -50%);
                &::before {
                    left: 0;
                    top: 50%;
                    bottom: auto;
                    margin-top: -5px;
                }
                &::after {
                    left: 15px;
                    top: 50%;
                    width: 20px;
                    height: 30px;
                    margin-top: -15px;
                }
            }
            #{$tooltip}--left & {
                top: 50%;
                left: 0;
                right: auto;
                bottom: auto;
                transform: translate(-100%, -50%);
                &::before {
                    right: -5px;
                    top: 50%;
                    bottom: auto;
                    left: auto;
                    margin-top: -5px;
                }
                &::after {
                    right: 0;
                    top: 50%;
                    bottom: auto;
                    left: auto;
                    width: 20px;
                    height: 30px;
                    margin-top: -15px;
                }
            }
            #{$tooltip}--bottom & {
                left: 50%;
                bottom: 0;
                right: auto;
                top: auto;
                transform: translate(-50%, 100%);
                &::before {
                    top: -5px;
                    left: 50%;
                    bottom: auto;
                    margin-left: -5px;
                }
                &::after {
                    top: 0;
                    left: 50%;
                    width: 30px;
                    height: 20px;
                    margin-left: -15px;
                }
            }
        }
        &:hover &__text {
            display: inline-block;
            animation: drop .2s ease-out;
        }
        &--right:hover &__text {
            display: inline-block;
            animation: drop-right .2s ease-out;
        }
        &--left:hover &__text {
            display: inline-block;
            animation: drop-left .2s ease-out;
        }
        &--bottom:hover &__text {
            display: inline-block;
            animation: drop-bottom .2s ease-out;
        }
        &--small &__text {
            width: 205px;
        }
        &--large &__text {
            width: 400px;
        }
        @keyframes drop {
            0% { opacity: 0; top: -20px; transform: translate(-50%, -100%), scale(.5); }
            100% { opacity: 1; top: 0; transform: translate(-50%, -100%), scale(1); }
        }
        @keyframes drop-right {
            0% { opacity: 0; right: -20px; transform: translate(100%, -50%), scale(.5); }
            100% { opacity: 1; right: 0; transform: translate(100%, -50%), scale(1); }
        }
        @keyframes drop-left {
            0% { opacity: 0; left: -20px; transform: translate(-100%, -50%), scale(.5); }
            100% { opacity: 1; left: 0; transform: translate(-100%, -50%), scale(1); }
        }
        @keyframes drop-bottom {
            0% { opacity: 0; bottom: -20px; transform: translate(-50%, 100%), scale(.5); }
            100% { opacity: 1; bottom: 0; transform: translate(-50%, 100%), scale(1); }
        }
    }
    &__text {
        width: 100%;
        height: 40px;
        line-height: 40px;
        font-size: 24px;
        font-weight: 600;
    }
    &__additional {
        @include clearfix;
    }
    &__templateList {
        margin-top: 10px;
        @include clearfix;
    }
    &__templateHeader {
        padding: 5px 0;
        font-weight: 600;
        font-size: 14px;
    }
    &__templateWrapper {
        box-sizing: border-box;
        float: left;
        width: (100% / 7);
        text-align: center;
    }
    &__templateListWrapper {
        float: left;
        width: 490px;
        padding-top: 13px;
        @include clearfix;
    }
    &__templatePreview {
        box-sizing: border-box;
        margin-top: 10px;
        padding: 15px;
        background-color: black;
        color: white;
        @include clearfix;
    }
    &__templatePreviewImage {
        float: right;
        width: 80px;
        height: 80px;
        margin-left: 15px;
    }
    &__template {
        display: inline-block;
        width: 60px;
        height: 60px;
        padding: 0;
        border: 0;
        font-size: 40px;
        font-weight: 600;
        cursor: pointer;
        outline: none;
        img {
            width: 60px;
            height: 60px;
            vertical-align: middle;
        }
    }

    &__previewHolder {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 412px;
        margin-top: 10px;
        background-color: black;
    }
    &__preview {
        position: relative;
        height: 400px;
        transform-origin: center center;
        transform-style: preserve-3d;
        transform: rotate3d(.2, -1, 0, 40deg);
        &--agencyb {
            font-family: 'Agency', sans-serif;
            font-weight: bold;
        }
        &--agency {
            font-family: 'Agency', sans-serif;
        }
        &--arialmt {
            font-family: 'ArialMT', sans-serif;
        }
        &--arialmtitalic {
            font-family: 'ArialMT', sans-serif;
            font-style: italic;
        }
        &--arialmtbold {
            font-family: 'ArialMT', sans-serif;
            font-weight: bold;
        }
        &--arialmtbolditalic {
            font-family: 'ArialMT', sans-serif;
            font-style: italic;
            font-weight: bold;
        }
        &--arialnarrow {
            font-family: 'ArialNarrow', sans-serif;
        }
        &--arialnarrowitalic {
            font-family: 'ArialNarrow', sans-serif;
            font-style: italic;
        }
        &--arialnarrowbold {
            font-family: 'ArialNarrow', sans-serif;
            font-weight: bold;
        }
        &--arialnarrowbolditalic {
            font-family: 'ArialNarrow', sans-serif;
            font-style: italic;
            font-weight: bold;
        }
        &--arialblack {
            font-family: 'Arial Black', sans-serif;
        }
        &--calibri {
            font-family: 'Calibri', sans-serif;
        }
        &--calibriitalic {
            font-family: 'Calibri', sans-serif;
            font-style: italic;
        }
        &--calibribold {
            font-family: 'Calibri', sans-serif;
            font-weight: bold;
        }
        &--calibribolditalic {
            font-family: 'Calibri', sans-serif;
            font-style: italic;
            font-weight: bold;
        }
        &--calibrilight {
            font-family: 'Calibri', sans-serif;
            font-weight: 300;
        }
        &--calibrilightitalic {
            font-family: 'Calibri', sans-serif;
            font-style: italic;
            font-weight: 300;
        }
        &--corbel {
            font-family: 'Corbel', sans-serif;
        }
        &--corbelitalic {
            font-family: 'Corbel', sans-serif;
            font-style: italic;
        }
        &--corbelbold {
            font-family: 'Corbel', sans-serif;
            font-weight: bold;
        }
        &--corbelbolditalic {
            font-family: 'Corbel', sans-serif;
            font-style: italic;
            font-weight: bold;
        }
        &--franklin {
            font-family: 'FranklinGothic', sans-serif;
        }
        &--franklincond {
            font-family: 'FranklinGothicCond', sans-serif;
        }
        &--franklinitalic {
            font-family: 'FranklinGothic', sans-serif;
            font-style: italic;
        }
        &--franklinbold {
            font-family: 'FranklinGothic', sans-serif;
            font-weight: bold;
        }
        &--franklinbolditalic {
            font-family: 'FranklinGothic', sans-serif;
            font-style: italic;
            font-weight: bold;
        }
        &--franklinmedium {
            font-family: 'FranklinGothic', sans-serif;
            font-weight: 300;
        }
        &--franklinmediumcond {
            font-family: 'FranklinGothicCond', sans-serif;
            font-weight: 300;
        }
        &--franklinmediumitalic {
            font-family: 'FranklinGothicCond', sans-serif;
            font-style: italic;
            font-weight: 300;
        }
        &--impact {
            font-family: 'Impact', sans-serif;
        }
        &--anfisa {
            font-family: 'Anfisa', serif;
        }
        &--cordeballet {
            font-family: 'Cordeballet', serif;
        }
        &--decorlz {
            font-family: 'Decorlz', serif;
        }
        &--evgeniadeco {
            font-family: 'Evgenia Deco', serif;
        }
        &--izhitsa {
            font-family: 'Izhitsa', serif;
        }
        &--liana {
            font-family: 'Liana', serif;
        }
        &--lobster {
            font-family: 'Lobster', serif;
        }
        &--tavrida {
            font-family: 'Tavrida', serif;
        }
        &--traktir {
            font-family: 'Traktir Modern', serif;
        }
        &--vivaldi {
            font-family: 'Vivaldi', serif;
        }
        &--bookantiquabold {
            font-family: 'Book Antiqua', serif;
            font-weight: bold;
        }
        &--bookantiquabolditalic {
            font-family: 'Book Antiqua', serif;
            font-style: italic;
            font-weight: bold;
        }
        &--bookantiquaitalic {
            font-family: 'Book Antiqua', serif;
            font-style: italic;
        }
        &--bookantiqua {
            font-family: 'Book Antiqua', serif;
        }
        &--bookmanoldstyle {
            font-family: 'Bookman Old Style', serif;
        }
        &--bookmanoldstyleitalic {
            font-family: 'Bookman Old Style', serif;
            font-style: italic;
        }
        &--bookmanoldstylebold {
            font-family: 'Bookman Old Style', serif;
            font-weight: bold;
        }
        &--bookmanoldstylebolditalic {
            font-family: 'Bookman Old Style', serif;
            font-style: italic;
            font-weight: bold;
        }
        &--cambria {
            font-family: 'Cambria', serif;
        }
        &--cambriaitalic {
            font-family: 'Cambria', serif;
            font-style: italic;
        }
        &--cambriabold {
            font-family: 'Cambria', serif;
            font-weight: bold;
        }
        &--cambriabolditalic {
            font-family: 'Cambria', serif;
            font-style: italic;
            font-weight: bold;
        }
        &--centuryschoolbook {
            font-family: 'Century Schoolbook', serif;
        }
        &--centuryschoolbookitalic {
            font-family: 'Century Schoolbook', serif;
            font-style: italic;
        }
        &--centuryschoolbookbold {
            font-family: 'Century Schoolbook', serif;
            font-weight: bold;
        }
        &--centuryschoolbookbolditalic {
            font-family: 'Century Schoolbook', serif;
            font-style: italic;
            font-weight: bold;
        }
        &--comicsans {
            font-family: 'Comic Sans MS', serif;
        }
        &--comicsansbold {
            font-family: 'Comic Sans MS', serif;
            font-weight: bold;
        }
        &--georgia {
            font-family: 'Georgia', serif;
        }
        &--georgiaitalic {
            font-family: 'Georgia', serif;
            font-style: italic;
        }
        &--georgiabold {
            font-family: 'Georgia', serif;
            font-weight: bold;
        }
        &--georgiabolditalic {
            font-family: 'Georgia', serif;
            font-style: italic;
            font-weight: bold;
        }
        &--times {
            font-family: 'Times New Roman', serif;
        }
        &--timesitalic {
            font-family: 'Times New Roman', serif;
            font-style: italic;
        }
        &--timesbold {
            font-family: 'Times New Roman', serif;
            font-weight: bold;
        }
        &--timesbolditalic {
            font-family: 'Times New Roman', serif;
            font-style: italic;
            font-weight: bold;
        }
    }
    &__previewText {
        position: absolute;
        display: inline-block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 90px;
        text-align: center;
        color: #13060D;
        &--char {
            color: darken(#4B0582, 10);
            @for $i from 1 through 30 {
                &:nth-child(#{$i}) {
                    transform: translate(-50%, -50%) translateZ(-1px * ($i - 1));
                }
                &.sign--light:nth-child(#{$i}) {
                    //transform: translateZ(-1px * ($i - 1) - 10px);
                }
            }
        }
        &--light {
            //color: lighten(#4B0582, 20);
            text-shadow: 1px 2px 2px lighten(#4B0582, 20), 7px 2px 10px lighten(#4B0582, 20), 0 0 70px lighten(#4B0582, 40);
        }
    }
    &__order {
        float: right;
        width: 240px;
        margin-top: 85px;
        text-align: right;
    }
    &__orderValue {
        margin-bottom: 10px;
        text-transform: uppercase;
        font-size: 18px;
    }
    &__orderTime {
        margin-bottom: 10px;
        font-size: 16px;
    }
}