.wrapper {
    position: relative;
}

.box {
    width: 100%;
    height: 100%;
    background: {
        size: contain;
        position: 50% 50%;
        repeat: no-repeat;
    };
}

$axis-width: 2px;
$axis-color: #aaa;

.axis {
    $axis: &;
    position: absolute;
    border: 0 dashed $axis-color;
    &::after {
        position: absolute;
        content: '';
        display: block;
    }
    &--y {
        top: 0;
        bottom: 0;
        left: 0;
        border-right-width: $axis-width;
        &::after {
            top: -5px;
            left: -2px;
            border: {
                width: 0;
                style: solid;
                bottom: {
                    width: 8px;
                    color: $axis-color;
                }
                left: {
                    width: 3px;
                    color: transparent;
                }
                right: {
                    width: 3px;
                    color: transparent;
                }

            };
        }
        #{$axis}__fieldWrapper {
            top: 20px;
            right: -80px;
            transform: translateY(-50%);
        }
    }
    &--x {
        bottom: 0;
        left: 0;
        right: 0;
        border-top-width: $axis-width;
        &::after {
            right: -5px;
            bottom: -2px;
            border: {
                width: 0;
                style: solid;
                left: {
                    width: 8px;
                    color: $axis-color;
                }
                top: {
                    width: 3px;
                    color: transparent;
                }
                bottom: {
                    width: 3px;
                    color: transparent;
                }

            };
        }
        #{$axis}__fieldWrapper {
            right: 50%;
            bottom: -30px;
            transform: translateX(50%);
        }
    }
    &__fieldWrapper {
        position: absolute;
        text-align: center;
    }
    &__field {
        width: 40px;
        margin-right: 5px;
    }
    &__label {
        font-weight: 600;
    }
}