@font-face {
    font-family: 'Circe';
    font-style: normal;
    font-weight: normal;
    src:    url('../fonts/Circe.eot');
    src:    url('../fonts/Circe.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circe.ttf') format('truetype'),
    url('../fonts/Circe.woff') format('woff');
}

@font-face {
    font-family: 'Circe';
    font-style: normal;
    font-weight: bold;
    src:    url('../fonts/CirceBold.eot');
    src:    url('../fonts/CirceBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CirceBold.ttf') format('truetype'),
    url('../fonts/CirceBold.woff') format('woff');
}

html, body {
    height: 100%;
    min-height: 100%;
    font: 14px 'Circe', Arial, sans-serif normal;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

// ui site
a {
    background: linear-gradient(to left, rgba(34,35,37,0.3), rgba(34,35,37,0.3) 100%);
    background-position: 0 92.5%;
    background-repeat: repeat-x;
    background-size: 10px 1px;
    color: #222325;
    padding-bottom: 0;
    text-decoration: none;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
    &::after, &::before {
        content: '';
        display: table;
        clear: both;
    }
}

.sidebar {
    float: left;
    width: 216px;
}

.content {
    float: right;
    width: 744px;
    margin: 0 0 0 36px;
}