@import '../../lib/mixins';

.wrapper {
    position: relative;
}

.header {
    padding: 0 15px;
    line-height: 40px;
    background: linear-gradient(to top, #eff7fa 0, #dbf3fc 18%, #f4f9fb 83%, #f5f9fa 100%);
    color: #5CA844;
    font-weight: 600;
    border: 1px solid #e5e5e5;
    &:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
}

.content {
    padding: 10px 15px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    &:last-child {
        border-bottom: 1px solid #e5e5e5;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

.row {
    @include clearfix;
    & + & {
        margin-top: 15px;
    }
    .button {
        display: inline-block;
        width: 100px;
        vertical-align: middle;
    }
    .buttonWrapper {
        display: inline-block;
        width: 100px;
        vertical-align: middle;
    }
}

.label {
    display: inline-block;
    width: 100px;
    margin-right: 5px;
    font-weight: 600;
    .input ~ & {
        margin-left: 10px;
    }
    &--fixed {
        width: 150px;
    }
}

.input {
    box-sizing: border-box;
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 20px;
    padding: .3rem .5rem;
    background-color: #fff;
    border: .1rem solid #e5e5e5;
    border-radius: 3px;
    outline: none;
}

.select {
    box-sizing: border-box;
    width: 100px;
    display: inline-block;
    height: 30px;
    line-height: 20px;
    padding: .3rem .5rem;
    background-color: #fff;
    border: .1rem solid #e5e5e5;
    border-radius: 3px;
    outline: none;
}

.button {
    position: relative;
    z-index: 30;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 .7rem;
    background: #ffd500;
    background: linear-gradient(to bottom,#60aa45 0,darken(#60aa45, 10) 100%);
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    text-align: center;
    transition: all 0.15s ease-in-out;
    font-family: 'Circe', sans-serif;
    outline: none;
    &--large {
        height: 50px;
        line-height: 50px;
        padding: 0 2rem;
        font-size: 16px;
    }
    &--hollow {
        border: 1px solid #e5e5e5;
        background: transparent;
        color: black;
        font-weight: 400;
        &:hover {
            border-color: #aaa;
        }
        &.button--attached {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        &.button--active {
            background: linear-gradient(to bottom,#60aa45 0,darken(#60aa45, 10) 100%);
            color: white;
            border: 0;
            font-weight: 700;
        }
    }
    &--block {
        width: 100% !important;
    }
}

.hidden {
    display: none;
}